<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="homeRedirect()"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end" (click)="editRedirect()" *ngIf="same">
      Edit
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="!same">
      <ion-button id="open-modal" expand="block">Job</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <div class="item-display">
      <div class="item-icon">
        <img src="../../../assets/icon/profile.png">
      </div>
      <div class="name-username">
        <h5 class="no-mg">{{user["first_name"]}} {{user["last_name"]}}</h5>
        <h6 class="no-mg">@{{user["username"]}}</h6>
      </div>
    </div>
    <div class="email-sec">
      <h6 class="email">{{user["email"]}}</h6>

    </div>
    <div class="services" *ngIf="isWorker!='false'">
      <h6 class="hr">Hourly Rate: ${{isWorker}}.00</h6>
      <h1>Services</h1>
      <div class="service-row" *ngFor="let catg of catgs">
        <div class="service-item">{{catg["categorie"]}}</div>
      </div>
    </div>
    <ion-modal #modal trigger="open-modal" [presentingElement]="presentingElement">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Job</ion-title>
            <ion-buttons slot="start">
              <ion-button (click)="modal.dismiss()">Close</ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button (click)="saveJob()">Save</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-item>
            <ion-label position="floating">Job Subject</ion-label>
            <ion-input placeholder="Enter text" [(ngModel)]="jobTitle"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Job Description</ion-label>
            <ion-input placeholder="Enter text" [(ngModel)]="jobDescription"></ion-input>
          </ion-item>
          <ion-item>
            <ion-datetime [(ngModel)]="datentime"></ion-datetime>
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>