<ion-menu contentId="main-content">
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
        <div class="menu-container">
            <a (click)="profileRedirect()">
                <div class="item-display">
                    <div class="item-icon">
                        <img src="../../../assets/icon/profile.png">
                    </div>
                    <div class="item-info">
                        <h5 class="no-mg">{{user["first_name"]}} {{user["last_name"]}}</h5>
                        <h6 class="no-mg">{{user["email"]}}</h6>
                    </div>
                </div>
            </a>
            <a (click)="settingsRedirect()" class="mg" *ngIf="isWorker==false">
                <div class="item-display mg">
                    <div class="item-icon-nav">
                        <ion-icon name="body-outline"></ion-icon>
                    </div>
                    <div class="item-info">
                        <h5 class="no-mg item-text">Become a Worker</h5>
                    </div>
                </div>
            </a>
            <a (click)="logout()">
                <div class="item-display logout-item mg">
                    <div class="item-icon-nav">
                        <ion-icon name="log-out"></ion-icon>
                    </div>
                    <div class="item-info">
                        <h5 class="no-mg item-text">Log Out</h5>
                    </div>
                </div>
            </a>
        </div>
    </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <div class="home-display">
        <div class="welcome">
            Welcome, {{user["username"]}}!
        </div>
        <div class="popular-services">
            <h6 class="popular-services-title">Popular services</h6>
            <div class="catg-scroll">
                <div class="catg-item" (click)="redirectToClean()">
                    <img src="../../../assets/icon/cleaner.png" class="catg-icon">
                    <h3 class="catg-text">Cleaning</h3>
                </div>
                <div class="catg-item" (click)="redirectToPlumber()">
                    <img src="../../../assets/icon/plumber.png" class="catg-icon">
                    <h3 class="catg-text">Plumbing</h3>
                </div>
                <div class="catg-item" (click)="redirectToPaint()">
                    <img src="../../../assets/icon/paint-roller.png" class="catg-icon">
                    <h3 class="catg-text">Painting</h3>
                </div>
                <div class="catg-item" (click)="redirectToElectric()">
                    <img src="../../../assets/icon/electrician.png" class="catg-icon">
                    <h3 class="catg-text">Electrician</h3>
                </div>
                <div class="catg-item" (click)="redirectToCar()">
                    <img src="../../../assets/icon/mechanic.png" class="catg-icon">
                    <h3 class="catg-text">Car Repair</h3>
                </div>
                <div class="catg-item" (click)="redirectToWashing()">
                    <img src="../../../assets/icon/car-cleaning.png" class="catg-icon">
                    <h3 class="catg-text">Car Washing</h3>
                </div>
            </div>
        </div>
    </div>
</div>