.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-display {
    display: flex;
    padding: 15px;
    color: #000000;
}

.item-icon {
    max-width: 35px;
    max-height: 35px;
    margin-right: 5px;
}

.item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.no-mg {
    margin: 0;
}

.mg {
    margin-top: 15px;
}

.item-display:Hover {
    background-color: #E0EFEB;
    border-radius: 10px;
}

.item-icon-nav {
    margin-right: 5px;
}

.item-text {
    font-weight: 700;
    font-size: 15px;
}

.current {
    display: flex;
    padding: 15px;
    background-color: rgb(44, 93, 79, 0.25);
    color: rgb(44, 93, 79);
    border-radius: 10px;
    margin-top: 30px;
}

.logout-item {
    align-self: flex-end;
}

.home-display {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F8FBFA;
    padding: 15px;
}

.welcome {
    font-size: 20px;
    color: #21473D;
    font-weight: 700;
}

.popular-services {
    display: flex;
    flex-direction: column;
    flex-grow: 1.5;
}

.popular-services-title {
    color: rgb(0, 0, 0, 0.5);
    font-size: 12px;
    font-weight: 600;
}

.catg-scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll !important;
    overflow-y: hidden;
}

.catg-item {
    background-color: #E0EFEB;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7.5%;
    color: rgb(44, 93, 79);
    margin-right: 3%;
    border-radius: 10px;
}

.catg-item:Hover {
    background-color: #9FCEC1;
}

.catg-icon {
    max-width: 50px;
    max-height: 50px;
}

.catg-text {
    font-size: 13px;
    font-weight: 600;
}

.top5 {
    width: 100%;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

.top5-title {
    color: rgb(44, 93, 79);
    font-size: 19px;
    font-weight: 700;
}

.table {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #E0EFEB;
    padding: 5%;
    border-radius: 10px;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: scroll !important;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.table-header {
    color: rgb(0, 0, 0, 0.5);
    font-size: 12px;
    font-weight: 600;
    margin: 0;
}

.table-item {
    color: rgb(0, 0, 0, 0.5);
    font-size: 12px;
    font-weight: 600;
    margin: 0;
}

.line-header {
    width: 100%;
    height: 2px;
    border-width: 0;
    border-radius: 100%;
    color: rgb(0, 0, 0, 0.3);
    background-color: rgb(0, 0, 0, 0.3);
}

.line {
    width: 100%;
    height: 1px;
    border-width: 0;
    border-radius: 100%;
    color: rgb(0, 0, 0, 0.2);
    background-color: rgb(0, 0, 0, 0.2);
}

.rating {
    color: #FFD60A;
    font-size: 15px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
}

.table-item-service {
    color: #ffffff;
    background-color: #F77D27;
    margin: 0;
    font-size: 13px;
    padding: 5px;
    border-radius: 5px;
}