.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-display {
    display: flex;
    padding: 15px;
    color: #000000;
}

.item-icon {
    max-width: 35px;
    max-height: 35px;
    margin-right: 5px;
}

.item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.no-mg {
    margin: 0;
}

.mg {
    margin-top: 15px;
}

.item-display:Hover {
    background-color: #E0EFEB;
    border-radius: 10px;
}

.item-icon-nav {
    margin-right: 5px;
}

.item-text {
    font-weight: 700;
    font-size: 15px;
}

.current {
    display: flex;
    padding: 15px;
    background-color: rgb(44, 93, 79, 0.25);
    color: rgb(44, 93, 79);
    border-radius: 10px;
    margin-top: 30px;
}

.logout-item {
    align-self: flex-end;
}