<div class="container">
  <div class="mg">
    <img src="../../../assets/icon/water-tap.png" class="img">
  </div>
  <div class="mg">
    <h1 class="title">WORKERS</h1>
  </div>
  <div class="desc-mg">
    <p class="desc">One way for workers to announce their services and profit from the customer needs.</p>
  </div>
  <div class="nav">
    <div class="empty">

    </div>
    <div class="lines">
      <div class="intro1"></div>
      <div class="intro2"></div>
      <div class="intro3"></div>
    </div>
    <div class="nextbt">
      <button (click)="navIntro2()" class="navbt"><img src="../../../assets/icon/forward.png"></button>
    </div>
  </div>
</div>