<div class="container">
  <div class="mg">
    <img src="../../../assets/icon/customer care.png" class="img">
  </div>
  <div class="mg">
    <h1 class="title">Customer Care</h1>
  </div>
  <div class="desc-mg">
    <p class="desc">All workers are rated by previous customers to ensure the next customer’s satisfaction.</p>
  </div>
  <div class="nav">
    <div class="backbt">
      <button (click)="navBack()" class="navbt"><img src="../../../assets/icon/forward.png"></button>
    </div>
    <div class="lines">
      <div class="intro1"></div>
      <div class="intro2"></div>
      <div class="intro3"></div>
    </div>
    <div class="nextbt">
      <button (click)="navIntro3()" class="navbt"><img src="../../../assets/icon/forward.png"></button>
    </div>
  </div>
</div>