<ion-header>
  <ion-toolbar>
    <ion-title>Jobs</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="jobs-display">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Username</ion-card-title>
        <ion-card-subtitle>Job Title</ion-card-subtitle>
        <ion-card-subtitle>Date: </ion-card-subtitle>
        <ion-card-subtitle>Time: </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque sint mollitia eveniet, vel beatae velit
        praesentium
        laborum assumenda illo quae quis voluptas explicabo voluptates perferendis dignissimos veritatis, eius fuga
        atque.
      </ion-card-content>

      <ion-button shape="round" color="warning" class="button">Reject</ion-button>
      <ion-button shape="round" class="button">Accept</ion-button>
    </ion-card>
  </div>
</ion-content>