.container {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #21473D;
}

.header {
    margin-top: 40px;
}

.signup-header {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 20px;
}

.input-fields {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-item {
    background-color: #fff;
    padding: 5px;
    padding-left: 15px;
    border: 2px solid #21473D;
    border-radius: 30px;
}

.mgt-input {
    margin-top: 20px;
}

.mgt {
    margin-top: 45px;
}

.signin-bt {
    font-style: bold;
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background-color: #21473D;
    padding: 2px 20px;
    border-radius: 20px;
    width: 75%;
    align-self: center;
}

.resp-err {
    color: red;
    align-self: center;
}

.signup-sec {
    margin-top: 170px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.signup-bt {
    font-style: bold;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background-color: #21473D;
    padding: 2px 20px;
    border-radius: 20px;
    width: 98%;
    align-self: center;
}