<div class="container">
  <div class="header">
    <h1 class="signin-header">SIGN IN</h1>
  </div>
  <div class="input-fields">
    <h6 class="resp-err">{{resp_err}}</h6>
    <input type="text" placeholder="username" class="input-item" [(ngModel)]="username_email">
    <input type="password" placeholder="password" class="input-item mgt-input" [(ngModel)]="password">
    <button type="button" class="signin-bt mgt" id="signin-bt" (click)="signin()">SIGN IN</button>
  </div>
  <div class="signup-sec">
    <button type="button" class="signup-bt" (click)="signupRedirect()">Don't have an account? SIGN
      UP</button>
  </div>
</div>