<div class="container">
  <div class="mg">
    <img src="../../../assets/icon/calendar.png" class="img">
  </div>
  <div class="mg">
    <h1 class="title">Appointment</h1>
  </div>
  <div class="desc-mg">
    <p class="desc">See when the workers are free and schedule appointments with them.</p>
  </div>
  <div class="start-mg">
    <button class="start-bt" (click)="redLogin()">Get Started</button>
  </div>
  <div class="nav">
    <div class="backbt">
      <button (click)="navBack()" class="navbt"><img src="../../../assets/icon/forward.png"></button>
    </div>
    <div class="lines">
      <div class="intro1"></div>
      <div class="intro2"></div>
      <div class="intro3"></div>
    </div>
    <div class="emtpy">

    </div>
  </div>
</div>